@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100,200,300,400,500,600,700,800,900&display=swap');

:root {
    --main-color: #035fff;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/windows11.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Sora', sans-serif;
}

.page-container {
    width: 85%;
    height: 90%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.left-content {
    width: 70%;
    height: 100%;
    background-color: #fff;
    padding: 5% 5% 5% 3%;
}

.right-content {
    width: 30%;
    height: 100%;
    background-color: bisque;
}

.logoarea {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    justify-content: space-between;
}

